.wrapper {
  width: 50%;
  margin: 0 auto;
  background-color: aqua;
  padding: 20px;
  position: relative;
}

h1 {
  text-align: center;
  color: blue;
}

.form-group {
  display: flex;
  margin: 20px 0;
}

label {
  font-size: 1.1rem;
  color: green;
  width: 180px;
  text-align: right;
}

input {
  flex-grow: 1;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

input:focus {
  outline: none;
}

select {
  flex-grow: 1;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
}

select:focus {
  outline: none;
}

button {
  flex-grow: 1;
  font-size: 1.1rem;
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
  border: none;
}

button:hover {
  background-color: blue;
  cursor: pointer;
}

p {
  font-size: 1.2rem;
}

#weather,
#temp {
  color: blue;
  font-weight: bold;
  font-size: 1.2rem;
}

.illustration {
  height: 250px;
  width: 100%;
}

img {
  height: 100%;
  width: 100%;
  visibility: hidden;
}

.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);

  display: none;
  justify-content: center;
  align-items: center;
}

.loadingIcon {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #9c41f2;
    border-radius: 50%;
    animation: spin 1.2s infinite linear;
}

@keyframes spin {
    from {
        transform:  rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}